<table class="table table-hover">

  <thead>
  <tr>
    <td>Patient</td>
    <td>Description</td>
    <td>Planned Start time </td>
    <td>Estimated End time </td>
    <td>Status</td>

  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let procedure of procedures">
    <td>{{ getPatientNameById(procedure.patient) }}</td>
    <td class="description">{{ procedure.description }}</td>
    <td>{{ procedure.startTime  | date:'dd MMM yyyy hh:mm'}}</td>
    <td>{{ procedure.endTime  | date:'dd MMM yyyy hh:mm'}}</td>
    <td>
      <select
        class="form-control"
        name="status"
        [(ngModel)]="procedure.status">
        <option *ngFor="let status of statuses" [ngValue]="status">{{ status }}</option>
      </select>
    </td>
  </tr>
  </tbody>

</table>
