<table class="table table-hover">

  <thead>
  <tr>
    <td>patient</td>
    <td>description</td>
    <td>startTime</td>
    <td>endTime</td>
    <td>Status</td>

  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let procedure of procedures">
    <td>{{ procedure.patient }}</td>
    <td>{{ procedure.description }}</td>
    <td>{{ procedure.startTime }}</td>
    <td>{{ procedure.endTime }}</td>
    <td>
      <select name="status"
              [(ngModel)]="procedure.status">
        <option *ngFor="let status of statuses" [ngValue]="status">{{ status }}</option>
      </select>
    </td>
  </tr>
  </tbody>

</table>
