<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>


<nav class="navbar navbar-expand-sm bg-light">
  <span class="navbar-brand mb-0 h1">Procedure scheduling Web App</span>

  <div class="container-fluid">
    <ul class="navbar-nav navbar-light">

      <li class="nav-item" [routerLinkActive]="['active']">
        <a routerLink="index" class="nav-link" routerLinkActive="active">
          Procedures
        </a>
      </li>

      <li class="nav-item" [routerLinkActive]="['active']">
        <a routerLink="patients" class="nav-link" routerLinkActive="active">
          Patients
        </a>
      </li>

      <li class="nav-item" [routerLinkActive]="['active']">
        <a routerLink="create-patient" class="nav-link" routerLinkActive="active">
          Add patient
        </a>
      </li>

      <li class="nav-item" [routerLinkActive]="['active']">
        <a routerLink="create-procedure" class="nav-link" routerLinkActive="active">
          Schedule a procedure
        </a>
      </li>

    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
